[push]
	default = current
[user]
	name = Gabriele Stefanini
	email = gabriele.stefanini@gmail.com
[color]
	ui = true
[alias]
    unstage = reset HEAD
    l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --decorate
    hours = log --merges --committer='Gabriele Stefanini' --pretty='%cd' | cut -d' ' -f4 | cut -d: -f1 | sort -n | uniq -c
