* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
body {
  font-family: system-ui,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  color: #769aa5;
  text-align: center;
  background-color: #080b21;
  /*background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);*/
  /*background-image: linear-gradient(to right bottom, #282a36, #2f4757, #32666f, #48867b, #78a37c);*/
}
a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.14);
  transform: translateY(0px);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
  will-change: translateY;
}
a:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  transition: all 100ms ease-in-out;
}
a:hover,
a:active,
a:visited {
  color: #9876aa;
  color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
main {
  width: 100vw;
  max-width: 1366px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 0 auto;
}

.menu-label {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  text-align: center;
}
.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.menu-list li {
  margin: .5rem;
}
.menu-list a {
  /*width: 210px;
  height: 160px;*/
  width: 7em;
  height: 3.5em;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

a.gmail {
  background-color: rgb(221, 83, 71);
}
a.outlook {
  background-color: rgb(0, 120, 215);
}
a.nexxa {
  background-color: #005f89;
  background-image: linear-gradient(to left top, #4db4d3 0px, #005f89 100%);
}
a.materialize {
  background-color: rgb(238, 110, 115);
}
a.github {
  background-color: rgb(43, 49, 55);
}
a.bitbucket {
  background-color: rgb(0, 82, 204);
}
a.gitlab {
  background-color: rgb(107, 79, 187);
}
a.heroku {
  background-color: rgb(121, 88, 159);
  background-image: linear-gradient(to left top, rgba(171, 142, 205, 0) 0px, rgb(171, 142, 205) 100%);
}
a.pusher {
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(to right, rgb(84, 158, 255), rgb(76, 135, 234));
}
a.trello {
  background-color: rgb(0, 121, 191);
}
a.laravel {
  background-color: rgb(244, 100, 95);
}
a.symfony {
  background-color: rgb(0, 0, 0);
}
a.vuejs {
  background-color: rgb(79, 192, 141);
}
a.react {
  background-color: rgb(97, 218, 251);
}
a.gatsby {
  background-color: rgb(102, 51, 153);
}
a.bootstrap {
  background-color: rgb(86, 61, 124);
}
a.fontawesome {
  background-color: rgb(31, 166, 122);
}
a.bulma {
  background-color: rgb(0, 209, 178);
  background-image: linear-gradient(141deg, rgb(0, 158, 108) 0%, rgb(0, 209, 178) 71%, rgb(0, 231, 235) 100%);
}
a.tailwind {
  background-color: #f8fafc;
}
a.csstricks {
  background-color: rgb(255, 152, 0);
  /*background-image: linear-gradient(141deg, hsl(36, 100, 50), hsl(36, 50, 80));*/
  background-image: linear-gradient(to right bottom, rgb(255, 152, 0), rgb(255, 130, 0));
}
a.cartorange {
  background-color: rgb(253, 117, 22);
}
a.reddit {
  background-color: #cee3f8;
  color: #336699;
}
a.mailtrap {
  background-color: #313a45;
  color: #009999;
}
a.netlify {
  background-color: #f4f7f8;
}
a.codepen {
  background-color: #191919;
  color: #ffffff;
}
